body{
    background-color: #888DA7;
    font: normal 15pt Arial;
}
header{
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    max-width: 500px;
    min-width: 180px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
}
input{
    border-radius: 8px;
    margin-bottom: 10px;
}
#button{
    background-color: #888da77a;
}
#seltab{
    border-radius: 5px;
}
option{
    background-color: #888da725;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}